<!-- REGISTRATION MAILER -->
<div>

    <h3> Hey {{ user_name }}, </h3>
    <br>
    <h4> We're delighted to have you on board! </h4>
    <p>
        To activate your Spotlight account, please click on the below link:
    </p>
    </p>
        <a href="#"></a>
    </p>
    <p>
        If you have any questions regarding your Spotlight account, please contact us at <a href="mailto:kotharidarsh104@gmail.com">kotharidarsh104@gmail.com</a>.
        Our technical team will assist you with anything you need.
    </p>
    <p>
        Enjoy yourself, and welcome to Arth. </p>
    <p> Cheers!
    </p>
    <p><b> Team Spotlight </b></p>

</div>