/*
================================================
			TOP HEADING SECTION
================================================
*/

.adm-emp
    {
        text-align: center;
        padding: 5px;
        margin: 5px;
    }

.adm-emp h4
    {
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 0.5px;
        line-height: 1.8;
    }