<div class="sidebar-header">
    <button type="button" id="sidebarCollapse" class="navbar-btn">
        <h3 style="letter-spacing: 3px;font-size: 28px;font-weight: 100;">spotlight</h3>
        <strong>
            <h5 style="letter-spacing: 1px;font-size: 28px;font-weight: 100;"> sl </h5>
            <!-- <img src="../static/assets/images/logo/sl_logo.png", height="50px" width="50px" style="float:center;"> -->
        </strong>
    </button>
</div>

<ul class="list-unstyled components" style="font-size: 13px;">
    <li>
        <a href="{{ url_for('main.main_index') }}">
            <i class="glyphicon glyphicon-dashboard"></i>
                DASHBOARD
        </a>
                        <!--
                        <ul class="collapse list-unstyled" id="dashboard">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                        -->
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-duplicate"></i>
                POLICIES
        </a>
<!--        <ul class="collapse list-unstyled" id="policies">
                <li><a href="#">All Policies</a></li>
            </ul>-->
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-link"></i>
                TRAININGS
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-user"></i>
                SELF-SERVICE
        </a>
<!--    <ul class="collapse list-unstyled" id="users">
            <li><a href="#">All Users</a></li>
        </ul> -->
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-time"></i>
                ACTIVITY LOG
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-user"></i>
                PROFILE
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-paperclip"></i>
                FAQ
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-send"></i>
                CONTACT
        </a>
    </li>
</ul>