<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spotlight | Login Page</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="../static/assets/stylesheets/signin.css">
        <link   rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

        <!-- add icon link
        <link rel="icon" href="../static/assets/images/logo/company.png" type="image/x-icon"> -->
    </head>

    <body onload="display_ct();">

        <div class="split timer-left">
            <div class="centered">
                <p>Welcome to Spotlight!</p>
                <span id="ct"></span>
                    <br/>
                <span id="dy"></span>
            </div>
        </div>
        <div class="split login-right">
            <div class="row centered">
                <div class="col-md-3">
                    <a class="btn btn-outline-dark" href="{{ url_for('auth.login') }}" role="button" style="text-transform:none">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Login with Google
                    </a>
                </div>
                <p>Login with official Ascent email id</p>
            </div>
        </div>

    </body>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.map"></script>
        <script type="text/javascript" src="../static/assets/scripts/timer.js"></script>

</html>